a {
    text-decoration: none;
}

.post-container {
    margin: 5% auto;
}

.post-card {
    width: 600px;
    height: auto;
    margin: 5% auto;
}

.author-information {
    display: flex;
    line-height: 50px;
}

.thumbnail {
    margin-right: 1%;
}

.thumbnail img {
    display: block;
    width: 50px;
    height: 50px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background-color: aqua;
}

.sub-redit {
    text-decoration: none;
    margin-right: 1%;
}

.author-name {
    text-decoration: none;
    margin: 0 1%;
}

.social-media span {
    margin-right: 2%;
}